<% include ../partials/header.ejs %>

<div class="jumbotron">
    <h1>Steckdose anlegen</h1>
    <p>Neue Steckdosen anlegen</p>
</div>
<% include landing/form.ejs %>

<% include ../partials/footer.ejs %>