<% include ../partials/header.ejs %>

<div class="jumbotron">
    <h1>Steckdose bearbeiten</h1>
    <p>Aktuelle Steckdose bearbeiten</p>
</div>
<% include landing/form_edit.ejs %>

<% include ../partials/footer.ejs %>